@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@tailwind base;
@tailwind utilities;
@tailwind components;

* {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    letter-spacing: 1px;
    @apply scroll-smooth text-base md:text-[18px];
    @apply transition-[background-color] duration-500 #{!important};
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
  @apply bg-neutral-100 dark:bg-neutral-800 text-neutral-600 dark:text-neutral-100;
}

.toc {
  & :is(ul, li) {
      @apply list-none my-0;

      & :is(li) {
          @apply pl-4;
      }

      & a {
          @apply text-sm no-underline font-normal text-neutral-600 dark:text-neutral-100 relative h-full py-3 flex;
          
          &::after {
              content: "";
              @apply bg-neutral-100 dark:bg-transparent w-[999px] h-full z-[-1] absolute -left-64 top-1/2 -translate-y-1/2 transition-all duration-500
          }

          &:hover::after {
              @apply bg-neutral-200
          }

          & * {
              @apply font-normal text-sm
          }
      }
  }
}

.active-section, .active-section * {
  font-weight: 500 !important;
  @apply text-neutral-800 dark:text-amber-500 #{!important};
}